* {
  background-color: #f1faee;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

/* Encabezado */
header {
  color: black;
  padding: 20px;
}

/* Formulario */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

button {
  display: inline;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Listado de préstamos */
#prestamosContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}